.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* list에 todo가 많아지면 header, addtodo가 넘어감 이를 해결하기 위해 */
  min-height: 0;
  background-color: var(--color-bg);
}
.container_dark {
  background-color: var(--color-dark-bg-bright);
}

.list {
  /* list 꽉차게 */
  flex: 1 1 auto;
  /* overflow-y가 발생하면 자동으로 스크롤 생성  */
  overflow-y: auto;
}
