.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-bg);
}

.list {
  /* list 꽉차게 */
  flex: 1 1 auto;
  /* overflow-y가 발생하면 자동으로 스크롤 생성  */
  overflow-y: auto;
}
