.form {
  /* flex: 1; */
  display: flex;
  width: 100%;
  padding: 1.4rem 1rem;
  background-color: var(--color-bg-dark);
}
.form_dark {
  background-color: var(--color-dark-bg);
}

.input {
  flex: 1 0 auto;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 1.4rem;
}

.button {
  padding: 0 2rem;
  background-color: var(--color-accent);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

.button:hover {
  filter: brightness(125%);
}
